@layer demo {
  @keyframes scale-a-lil {
    from {
      scale: 0.5;
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    figure img {
      animation: scale-a-lil linear both;
      animation-timeline: view();
      animation-range: 25vh 75vh;
    }
  }
}

@layer demo.support {
  * {
    box-sizing: border-box;
    margin: 0;
  }

  html {
    block-size: 100%;
  }

  body {
    min-block-size: 100%;
    font-family: system-ui, sans-serif;

    display: grid;
    place-content: center;
    place-items: center;
    padding-block: 75vh;
  }

  img {
    max-inline-size: 100%;
  }

  .grid {
    display: grid;
    gap: 5vmin;
    padding: 5vmin;
    place-items: center;
    max-inline-size: 1024px;

    @media (width > 720px) {
      grid-template-columns: 1fr 1fr;
    }
  }
  a {
    text-decoration: none;
  }
  figure {
    display: grid;
    place-items: center;
    gap: 2rem;
    padding: 2rem;
    border-radius: 3rem;
    background: aliceblue;
    overflow: clip;
    overflow-clip-margin: content-box;

    > picture {
      padding: 2rem;
      background: Canvas;
    }

    & img {
      max-block-size: 25vh;
    }
  }

  footer {
    max-inline-size: 30ch;
    text-align: center;
    text-wrap: balance;
  }
}

/* progress scroll css  */
body {
  padding: 0;
  margin: 0;
  /* min-height: 500vh; */
  background-color: rgb(139, 201, 228);
  /* animation: body 1s linear; */
}
@keyframes body {
  to {
    background-color: rgb(19, 48, 97);
  }
}

.progress {
  height: 3px;
  width: 0%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  animation: progress 1s linear;
}
@keyframes progress {
  to {
    background-color: rgb(20, 255, 226);
    width: 100%;
  }
}

:root * {
  /* Pause the animation */
  animation-play-state: paused;
  /* Bind the animation to scroll */
  animation-delay: calc(var(--scroll) * -1s);
  /* These last 2 properites clean up overshoot weirdness */
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
